{% extends "admin/base.twig" %}
{% block title %}Publisher Details{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% include 'admin/publishers/search_form.twig' %}
        <hr><br>
      {% for publisher in publishers %}
          <div class='searchResults'>
              <a href="/admin/publishers/{{ publisher.id }}">
                  <div>{{ publisher.getFullName }} - {{ publisher.getPhone }}</div>
              </a>
          </div>
      {% else %}
          <div class='searchResults'>
              No results
          </div>
      {% endfor %}
        <div class="data" id="results"></div>
    </div>
{% endblock %}
