{% extends "admin/base.twig" %}

{% block title %}Location Maps{% endblock %}
{% block content %}
  <div class="container-fluid">
    <ul>
      {% for location in locations %}
        <li>
          <a href="/admin/locations/{{ location.getId }}" class="w-button submit-mobile-number sign-in">
            {{ location.getName }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
