{% extends "base.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="w-section section">
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
