<div class="mobile-section non">
    <div class="w-clearfix content-cal dt">
        <div class="calendar-date">
            <div class="wekk-day-dt">S</div>
        </div>
        <div class="calendar-date">
            <div class="wekk-day-dt">M</div>
        </div>
        <div class="calendar-date">
            <div class="wekk-day-dt">T</div>
        </div>
        <div class="calendar-date">
            <div class="wekk-day-dt">W</div>
        </div>
        <div class="calendar-date">
            <div class="wekk-day-dt">T</div>
        </div>
        <div class="calendar-date">
            <div class="wekk-day-dt">F</div>
        </div>
        <div class="calendar-date">
            <div class="wekk-day-dt">S</div>
        </div>
    </div>
    <div class="w-clearfix content-cal dt">
        {#day#}

    </div>
{#week#}
</div>
