{% extends "base.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
    <div class="w-section section">
        <div class="content-mobile-number"><img class="carty" src="/images/happy-13.svg">
            <div class="login-div" id="container"><img class="leaf" src="/images/leaf-11.svg">
                {% if failedLogin is defined %}
                <div class="sign-in-text login-fail">Sorry. Please try again.</div>
                {% endif %}
                <div class="w-form">
                    <div data-delay="0" class="w-dropdown locations">
                        <img class="leaf" src="/images/leaf-11.svg">
                        <div class="sign-in-text">Login</div>
                        <div class="w-form">
                            <form method="post" action="{{ path('login_check') }}" id="email-form" name="email-form" data-name="Email Form">
                              {{ error }}
                                <div data-delay="0" class="w-dropdown locations">
                                    <div data-delay="0" class="w-dropdown locations">
                                        <div class="w-dropdown-toggle dropdown">
                                            <div>Canada Bay</div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="city" value="Canada Bay" />
                                <input type="tel" name="_username" value="{{ last_username }}" class="w-input mobile-text-filled" data-name="Username" required="required" />
                                <input type="password" name="_password" value="" class="w-input mobile-text-filled" />
                                <input class="w-button submit-mobile-number sign-in" type="submit" name="login_button" value="SIGN IN">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
