{% extends "base.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="w-section section">
        <div class="content-mobile-number"><img class="carty" src="/images/happy-13.svg">
            <div class="login-div" id="container"><img class="leaf" src="/images/leaf-11.svg">
                {% if failedLogin is defined %}
                <div class="sign-in-text login-fail">Sorry. Please try again.</div>
                {% endif %}
                <div class="w-form">
                    <div data-delay="0" class="w-dropdown locations">
                        <!--                                        <div class="w-dropdown-toggle dropdown">-->
                        <!--                                            <div>Select your congregation</div>-->
                        <!--                                            <div class="w-icon-dropdown-toggle"></div>-->
                        <!--                                        </div>-->
                        <img class="leaf" src="/images/leaf-11.svg">
                        <div class="sign-in-text">Login</div>
                        <div class="w-form">
                            <form method="post" action="/login.php" id="email-form" name="email-form" data-name="Email Form">
                                <div data-delay="0" class="w-dropdown locations">
                                    <div data-delay="0" class="w-dropdown locations">
                                        <div class="w-dropdown-toggle dropdown">
                                            <div>Canada Bay</div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="city" value="Canada Bay" />
                                <input class="w-input mobile-text-filled" id="Username" type="tel" placeholder="Username" name="user" data-name="Username" required="required">
                                <input class="w-input mobile-text-filled" id="Password-2" type="password" placeholder="Password" name="pass" data-name="Password 2" required="required">
                                <input class="w-button submit-mobile-number sign-in" type="submit" name="login_button" value="SIGN IN">
                            </form>
                        </div>
                        <!--                                        <nav class="w-dropdown-list droplist">-->
                        <!--                                            <a href="#" class="w-dropdown-link" onclick="selectCity('Canada Bay');">Canada Bay</a>-->
                        <!--                                        </nav>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
