{% extends "base.twig" %}

{% block title %}Location Maps{% endblock %}
{% block content %}
  <div class="w-section section">
    <div class="content-mobile-number"><img class="carty" src="../images/happy-13.svg">
      <div class="login-div"><img class="leaf" src="../images/leaf-11.svg">
        {% for location in locations %}
          <div class="w-form">
            <a href="/locations/{{ location.getId }}" class="w-button submit-mobile-number sign-in">
              {{ location.getName }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
