<form method="post" action="/publishers/search">
  <div class="textSearch">
    <input type="hidden" name="action" value="search">
    <input type="search" class="form-control" id="name" placeholder="Enter a name" name="name">
    <button class="search" type="submit">
      <img src="/images/search.svg">
    </button>
  </div>
</form>
